/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.lando
/public/js/app.js
/public/css/app.css
/report
.DS_Store
latest.zip
/filebeat_production.yml
/production_supervisord.ini
/supervisord.ini
/build
public/css/app.css
public/js/app.js
.env.staging
.env.production
.env.uat
/report
filebeat.yml
supervisor.ini
.phpunit.result.cache
imagedefinitions-staging.json
.snyk
clover.xml
report.json
./report.json
cat-quality-script
clover.xml
/public/js/security.js
/public/mix-manifest.json
/public/js/manifest.js
latest.zip
imagedefinitions.json

/public/js/vendor.js
/venv