includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app

    level: 7
    excludes_analyse:
        - /*/*/SupportRequestMail.php

    checkMissingIterableValueType: false
