/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/js/app.js
/public/css/app.css
/report
.DS_Store
latest.zip
/filebeat.yml
/filebeat_production.yml
/production_supervisord.ini
/supervisord.ini
/build
public/css/app.css
public/js/app.js
.env.staging
.env.production
.env.uat
clover.xml
.phpunit.result.cache