includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: 7
    ignoreErrors:
        - '#Call to an undefined static method Illuminate\\Support\\Facades\\Broadcast::routes\(\)\.#'
    excludes_analyse:
        - /*/*/FileToBeExcluded.php
