<?xml version="1.0" encoding="UTF-8"?>
<phpunit printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>

        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <exclude>
                <directory suffix=".php">app/Http/Controllers/Auth</directory>
                <file>app/Console/Commands/SetupDeploymentCommand.php</file>
                <file>app/Console/Kernel.php</file>
                <file>app/Http/Kernel.php</file>
                <file>app/Providers/AppServiceProvider.php</file>
                <file>app/Providers/AuthServiceProvider.php</file>
                <file>app/Providers/EventServiceProvider.php</file>
                <file>app/Providers/BroadcastServiceProvider.php</file>
                <file>app/Providers/RouteServiceProvider.php</file>
                <file>app/Http/Controllers/Controller.php</file>
                <file>app/Exceptions/Handler.php</file>
                <file>app/Http/Middleware/Authenticate.php</file>
                <file>app/Http/Middleware/EncryptCookies.php</file>
                <file>app/Http/Middleware/RedirectIfAuthenticated.php</file>
                <file>app/Http/Middleware/TrimStrings.php</file>
                <file>app/Http/Middleware/TrustProxies.php</file>
                <file>app/Http/Middleware/VerifyCsrfToken.php</file>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="MAIL_DRIVER" value="array"/>
        <env name="DB_DATABASE" value="test"/>
    </php>
</phpunit>
